
:root {
  --black: #4D4C59;
  --purple: #6C63FF;
	--light-grey: #C8C8C8;
  --text-color: #9C9AB6;
}

/*
Fonte dos textos (google fonts)

font-family: 'Poppins', sans-serif;
*/



html {
  height: 50vh;
}


body {
  width: 100vw;
  height: 100%;
}

/*
*info container 
Engloba o título e as informações dentro da caixa, junto com a imagem do foguete.
* Borders
São as imagens. Coloquei os comprimentos das imagens em 100%.
*/
.infocontainer {
  display: flex;
  height: 50vh;
  flex-direction: row;
  justify-content: center;
}

#borders{
  width: 100%;
}

/*
*countdownBox

Caixa de contagem. onde conterá todas as informações sobre a contagem
*/

.countdownBox {
  width: 500px;
  height: 150px;
  margin-top: 20px;
  text-align: center;
}

/*Formatação dos títulos e dos textos*/

h1 , p {
  font-family: 'Poppins', sans-serif;
}

h1 {
  color:#6C63FF;
  font-size: 42px;
}
/*
* countdownContainer
Engloba TimerNames (nomes dos contadores) e DeadlineMarquee (marcadores de prazo final)
*/

.countdowncontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/*
 * TimerNames
 - Bloco que organiza os nomes dos contadores
 * TText (Time Text)
 - Textos que indentificam os valores que o contador representa.
 */
 
 .TimerNames {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-top: 15px;
  }

  #TText {
    color: #C8C8C8;
    margin: 0px 15px;
  }
  
/*
* Deadline Marquee
  -Bloco que organiza os divs do números do contador
* Marquees
  -Configuração dos blocos de contador
* TNumbers
  Formatação dos números
* TPoints
  Formatação dos dois pontos    

*/

.DeadlineMarquee {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

/*Tamanho e cor dos números e os dois pontos*/

#marquee {
  margin-top: 5px;
  text-align: center ;
}

#TNumber, #TPoints {
  font-size: 80px;
  color:#4D4C59;
}

#TPoints {
  display: block;
  
}

/*
  *Subscribe box
  Caixa de inscrição. Contém o texto para se inscrever e o botão
  Inseri hover por capricho.
  Aparência do botão alterado
*/


.subscribe-box {
  margin-top: 12px;
}

.subscribe-box > p {
  font-size: 20px;
  color: #4D4C59;
}

button {
  width: 200px;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: #9C9AB6;
  margin-top: 28px;
  background-color:  #6C63FF;
  border-radius: 8px;
  border: none;
  
}

button:hover {
  color: white;
}

/*
  Configuração do tamanho do foguete, pois apresentava um tamanho menor

*/


img {
  width: 40vw;
}